@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-primary: #fff;
  --bg-secondary: #f2f0f1;
  --bg-thrid: #f0f0f0;
}

* {
  font-family: "Poppins", sans-serif;
}

.mw_constraint {
  max-width: 1920px;
  margin: 0px auto;
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

button {
  cursor: pointer;
}

/* search filter */

/* .search__filter_container.desktop {
} */
.search__filter_container.mobile {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0px 20px;
  width: 350px;
  bottom: 0;
  right: 0%;
  transform: translateY(calc(100% - 50px));
  height: 450px;
  transition: transform 0.3s ease;
}
@media (max-width: 500px) {
  .search__filter_container.mobile {
    width: 100vw;
    transform: translateY(100%);
  }
}
@media (max-width: 900px) {
  .search__filter_container.desktop {
    display: none;
  }

  .search__filter_container.mobile {
    display: block;
  }

  .search__filter_container.mobile::-webkit-scrollbar {
    display: none;
  }
  .search__filter_container.mobile.open {
    transform: translateY(0);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
