:root {
  --bg-primary: #fff;
  --bg-secondary: #f2f0f1;
  --bg-thrid: #f0f0f0;
}

* {
  font-family: "Poppins", sans-serif;
}

.mw_constraint {
  max-width: 1920px;
  margin: 0px auto;
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed !important;
}

/* search filter */

.common__overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.common__overlay.open {
  display: block;
}

/* .search__filter_container.desktop {
} */

.mobile-filter-menu-btn {
  display: none;
}

.search__filter_container.mobile {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0px 20px;
  width: 350px;
  bottom: 0;
  right: 0%;
  transform: translateY(calc(100% - 50px));
  height: 450px;
  transition: transform 0.3s ease;
}

@media (max-width: 500px) {
  .mobile-filter-menu-btn {
    display: block;
  }

  .search__filter_container.mobile {
    width: 100vw;
    transform: translateY(100%);
  }
}

@media (max-width: 900px) {
  .search__filter_container.desktop {
    display: none;
  }

  .search__filter_container.mobile {
    display: block;
  }

  .search__filter_container.mobile::-webkit-scrollbar {
    display: none;
  }

  .search__filter_container.mobile.open {
    transform: translateY(0);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
}